aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
httpx[http2]
motor
numpy
pillow
psutil
py-tgcalls==0.9.7
pykeyboard
pyrofork
https://github.com/KurimuzonAkuma/kurigram/archive/dev.zip
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
tgcrypto
uvloop==0.21.0; sys_platform != "win32"
unidecode
yt-dlp
youtube-search
youtube-search-python
py-yt-search
